#container {
    padding-left: 200px;
}

header {
    position: fixed;
    margin-left: -200px;
    box-sizing: content-box;
    width: 200px;
    height: 100%;
    background: #fff;
    z-index: 1000 !important;
}

header .in {
    padding-left: 10px;
    padding-right: 10px;
}

header nav {
    position: absolute;
    top: 200px;
}

header nav li {
    display: block;
}

h2.tag {
    margin-top: 0;
}

ol#lane-nav {
    display: block;
}

/*#lane {
    padding-left: 200px;
    box-sizing: content-box;
}*/

.album-img-wrapper {
    display: block;
}

/* Places page */
.continent {
    clear: both;
}

#albums {
    overflow: hidden;
}

#albums .item--extra {
    position: absolute;
    left: -99999px;
    opacity: 0;
}

#albums.show-all .item--extra {
    position: static;
    opacity: 1;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

#albums .item--teaser {
    position: relative;
}

#albums .item--teaser button {
    background: #eee;
    border: 0;
    width: 100%;
    height: 167px;
    font: inherit;
    outline: none;
}

/* Blog */
.blog-iframe {
    width: 100%;
    height: 900px;
    border: 0;
}