#container {
    padding-left: 200px;
}

header {
    position: fixed;
    margin-left: -200px;
    box-sizing: content-box;
    width: 200px;
    height: 100%;
    background: #fff;
    z-index: 1000 !important;
}

header .in {
    padding-left: 10px;
    padding-right: 10px;
}

header nav {
    position: absolute;
    top: 200px;
}

header nav li {
    display: block;
}

h2.tag {
    margin-top: 0;
}

ol#lane-nav {
    display: block;
}

/*#lane {
    padding-left: 200px;
    box-sizing: content-box;
}*/

.album-img-wrapper {
    display: block;
}

/* Places page */
.continent {
    clear: both;
}

#albums {
    overflow: hidden;
}

/* Blog */
.blog-iframe {
    width: 100%;
    height: 900px;
    border: 0;
}